#scrolling-container {
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
}

#todo-list {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 5px;
}

h1 {
    text-align: center;
}

.todo-panel {
    padding: 0 10px;
    border: 1px dotted #f3f3f3;
    cursor: pointer;
}

.todo-panel:hover {
    background-color: #f3f3f3;
}
